.bar{
    background-color: gold;
    margin: 5px;
    border-radius: 8px;
    text-align: center;
    height: 100px;

}


.grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}


.bar1{
    grid-column-start: 1;
    grid-column-end: 6;
}

.bar2{
    height: 500px;
   
}

.bar3{
    grid-column-start: 2;
    grid-column-end: 5;
    height: 500px;

    
}

.bar4{
    height: 500px;
}

.bar5{
    grid-column-start:1 ;
    grid-column-end:6 ;
}

